.app-dashboard {
  background-color: var(--font-color-white);
  border-radius: 40px 40px 0 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: absolute;
  bottom: 0;
  width: 100vw;
  min-height: 85vh;
  max-height: 85vh;
  overflow: scroll;
}

.dash-content {
  max-width: 900px;
  margin: 1.5rem auto;
  text-align: center;
}

 /* ---------- INPUT AREA ------------ */

.input-area {
  margin: auto;
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
}

.input-area input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--orange-color);
  background-color: transparent;
  margin: .5rem;
  text-align: center;
  color: var(--input-text);
  font-family: var(--font-family-content);
  font-size: 1rem;
  line-height: 150%;
  outline: none;
}

::placeholder {
  color: var(--font-color-grey);
  font-family: var(--font-family-content);
}

/* ---------- ADD BUTTON --------- */

.add-btn {
  width: 4em;
  position: absolute;
  top: 4rem;
  padding: .4rem 1rem;
  border: 0;

  border-radius: 30px;
  background-color: var(--orange-color);
  color: rgb(42, 42, 42);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  font-family: var(--font-family-title);
  font-size: 1rem;
}

/* ----------- NO TASKS TEXT SIGN --------- */

.no-tasks-sign {
  display: flex;
  bottom: 55vh;
  width: 90%;
  margin: auto;
  justify-content: center;
}

.no-tasks-sign h5 {
  font-family: var(--font-family-title);
  font-size: 1.7rem;
  color: #363636ac;
  margin: 2rem;
}

/* ----------- TASK BADGE --------- */

.task-badge {
  margin: auto;
  display: flex;
  width: 90%;
}

.task-badge ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 2.5rem 0;

}

.task-badge li {
  padding: .4rem 1rem;
  border-radius: 20px;
  background-color: rgb(218, 218, 218);

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 90%;
  margin: .4rem auto;
  display: flex;
  align-content: center;
  justify-content: space-between;
  color: rgba(49, 49, 49, 0.721);
}

.task-badge p {
  font-size: .8rem;
  margin: 0 .4rem;
  font-family: calibri;
}

/* ----------- FONTAWESOME ICONS ----------- */

.task-badge i {
  cursor: pointer;
  font-size: 1rem;
}

.task-badge .fa-trash-alt {
  color: rgb(216, 66, 66);
}

.task-badge .green-check {
  color: green;
}


@media (max-width: 300px) {
  .input-area input,
  ::placeholder,
  .input-area .add-btn{
    font-size: .8rem;
  }

  input {
    max-length: 16;
  }

  .task-badge i {
    font-size: 1rem;
    height: 15px;
  }

  .no-tasks-sign h5 {
    font-size: 1.3rem;
  }
}

@media (min-width: 500px) {
  .task-badge p{
    font-size: 1rem;
  }

  .task-badge i {
    font-size: 1.3rem;
  }
}
