<div class="app-dashboard">
  <div class="dash-content">
      <div class="input-area">
          <input type="text" placeholder="enter a task...">
          <button class="add-btn">add</button>
      </div>
      <div class="no-tasks-sign">
          <h5>no tasks for today yet</h5>
      </div>
      <div class="task-badge">
          <ul>
              <li>
                  <i class="far fa-check-square"></i>
                  <p>taskname</p>
                  <i class="fas fa-trash-alt"></i>
              </li>
          </ul>
      </div>
  </div>
</div>
